<form [formGroup]="deviceForm" novalidate>
    <div class="form-group">
      <label for="uid">UID:</label>
      <input formControlName="uid" type="text" class="form-control" id="uid" />
    </div>
    <div class="form-group">
      <label for="vendor">Vendor:</label>
      <input formControlName="vendor" type="text" class="form-control" id="vendor" />
    </div>

    <div class="form-group">
      <label for="online">Online</label>
      <input formControlName="online" type="checkbox" class="form-control" id="online" />
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="save()">Guardar</button>
      <button type="button" class="btn btn-light" (click)="cancel()">Cancelar</button>
    </div>

</form>
